@model ELIMS_MVC.Data.ApplicationUser;

@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"]</h2>

<hr />

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <fieldset id="deleterequest" style="display:block; margin: 0 2px; border:1px solid #c0c0c0; padding: .35em .625em .75em;">
        <legend style="background-color: #4BB721; display:table; max-width:100%; padding: 3px 6px; color:#fff; white-space:normal;"><b>Are you sure you want to delete @Html.DisplayFor(model => model.UserName)?</b></legend>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.FirstName)</b>
                    </td>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.LastName)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.UserName)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Email)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.PhoneNumber)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.LabAccess)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.LabAccess)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Status)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
            </tbody>

        </table>

        <input type="submit" value="Delete" class="btn btn-danger" /> <br />
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>

</form>

