@model ELIMS_MVC.Models.ContactForm

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.NAUEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NAUEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
  @*<a asp-page="/ContactForms/Edit" asp-route-id="@Model.Id">Edit</a>
        <text> | </text>*@
    <a asp-action="Index">Back to List</a>
</div>

