@model ELIMS_MVC.Models.Request

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Request</h2>

<br />

    <fieldset id="deleterequest" style="display:block; margin: 0 2px; border:1px solid #c0c0c0; padding: .35em .625em .75em;">
        <legend style="background-color: #4BB721; display:table; max-width:100%; padding: 3px 6px; color:#fff; white-space:normal;"><b>Are you sure you want to delete this request?</b></legend>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </b>
                    </td>
                    <td>

                            @Html.DisplayFor(model => model.StartDate)

                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.EndDate)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.RequestMade)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.RequestMade)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.FirstName)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.LastName)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.LastName)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.NAUEmail)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.NAUEmail)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.ProjectName)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.ProjectObjective)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.ProjectObjective)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.ContactName)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.ContactName)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Funding)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.Funding)
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.SponsorName)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.SponsorName)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.SponsorPhone)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.SponsorPhone)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.SponsorEmail)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.SponsorEmail)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Chemicals)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.Chemicals)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.MeetingTimes)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.MeetingTimes)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.GroupMembers)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.GroupMembers)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Status)
                        </b>
                    </td>
                    <td>
                        
                            @Html.DisplayFor(model => model.Status)
                        
                    </td>
                </tr>
            </tbody>
        </table>


        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger"><b>Delete</b></button> <br />
            <br />
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>