@model IEnumerable<ELIMS_MVC.Models.Request>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>


@{
    ViewData["Title"] = "Lab Usage Requests";
}

<h2>Lab Request Dashboard</h2>

<hr />

<p>
    <a asp-action="Create" class="btn btn-success" role="button" style="position:absolute;right:5%;">Create New</a>
</p>

<input class="form-control" id="myInput" type="text" placeholder="Search requests..." style="width:auto;">

<br />

<table id="requestTable" class="table table-striped table-hover">
    <thead class="thead" style="background-color:#3c3c3c; color:lightgray;">
        <tr>

            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(1)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.RequestMade) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(2)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.FirstName) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(3)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.LastName) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(4)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.NAUEmail) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(5)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.ProjectName) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th onclick="w3.sortHTML('#requestTable','.item', 'td:nth-child(6)')" style="cursor:pointer">
                @Html.DisplayNameFor(model => model.Status) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr class="item">

                <td>
                    @Html.DisplayFor(modelItem => item.RequestMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAUEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>

                @if (item.Status == RequestStatus.Approved)
                {
                    <td style="background-color:#CEF6CE">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else if (item.Status == RequestStatus.Denied)
                {
                    <td style="background-color:#F6CECE">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                }
                else if (item.Status == RequestStatus.Pending)
                {
                    <td style="background-color:#F5F6CE">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>

                    <a asp-controller="Request" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <text> | </text>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("ADMINISTRATORS") || User.IsInRole("MANAGERS"))

                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>