@model IEnumerable<ELIMS_MVC.Models.Request>

@{
    ViewData["Title"] = "Lab Usage Requests";
}

<h2>Lab Usage Requests</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Request" asp-action="Index" method="get">
    <p>Last Name: <input type="text" name="search" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RequestMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAUEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProjectObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectFile)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RequestMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAUEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProjectObjective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chemicals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupMembers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectFile)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <a asp-controller="Request" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <text> | </text>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                @if (User.IsInRole(Constants.ELIMSAdministratorsRole) || User.IsInRole(Constants.ELIMSManagersRole))

                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


            </td>
                
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
