@model ELIMS_MVC.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />

<div>
    <fieldset id="deleterequest" style="display:block; margin: 0 2px; border:1px solid #c0c0c0; padding: .35em .625em .75em;">
        <legend style="background-color: #4BB721; display:table; max-width:100%; padding: 3px 6px; color:#fff; white-space:normal;"><b>Details</b></legend>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Name)</b>
                    </td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.CASNum)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.CASNum)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Manufacturer)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Manufacturer)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.HasMSDS)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.HasMSDS)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.HealthHazard)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.HealthHazard)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.FlammableHazard)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.FlammableHazard)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.ReactiveHazard)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.ReactiveHazard)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.OtherHazard)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.OtherHazard)</td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.CurrentQty)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.CurrentQty)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Unit)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Unit)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.DateReceived)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.DateReceived)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.IsCheckedOut)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.IsCheckedOut)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.DateCheckedOut)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.DateCheckedOut)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.DateReturned)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.DateReturned)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Location)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Location)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Consumed)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Consumed)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.HazWaste)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.HazWaste)</td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Disposed)</b>
                    </td>

                    <td>@Html.DisplayFor(model => model.Disposed)</td>
                </tr>

            </tbody>

        </table>


        <div class="form-group">
            <a class="btn btn-success" href="/Inventories/Index" role="button">Back to list</a>
        </div>

    </fieldset>
</div>
